body{
  background-color: #1d1bf9;
  color: white;
}
.container{
  height: 100%;
  width: 100%;

}
.header{
  display: inline-block;
  margin-left: 25%;
  height: 100px;
  width: 100%;
}
.flight-control{
  display: inline-block;
  height: 100px;
  width: 100%;
}
.image-text{
  position: relative;
  width: 100%;
}

a{
  margin-left: 50px;
  margin-right: 50px;
  font-size: 20px;
  text-decoration: underline;
  color: white;
}

input{
  text-align: center;
  margin-left: 75px;
  margin-right: 75px;
  font-size: 10px;

}
select{
  margin-left: 60px;
  width: 200px;
  font-size: 10px;
}
.img-text{
  position: absolute;
  left:80px;
  top: 105px;
  font-size: 95px;
  color: white;
  text-shadow: 3px 3px black;
  resize: inherit;
}
img#logo{
  border-radius: 50%;
}

.seat-class{
  display: inline-block;
  vertical-align: middle;
  margin-left:15%;
}
#basic{
    vertical-align: middle;
    border: 1px solid white;
    display: inline-block;
    background-color: green;
    margin:20px;
}
#comfort{
    vertical-align: middle;
    border: 1px solid white;
    display: inline-block;
    background-color: blue;
    margin:20px;
}
#first{
    vertical-align: middle;
    border: 1px solid white;
    display: inline-block;
    background-color: red;
    margin:20px;
}

.text-B{
  width: 100%;
  height: 15%;
  font-size: 20px;
  text-align: center;
  border: 1px solid white;
}
p.text-B{
  margin-bottom: 5px;
}
p.price-B{
  text-align: center;
  font-size: 50px;
}

/* Plane seating styling */
.seating{
  margin-left: 30%;
  text-align: center;
  width: 500px;

}
tr.first-class{

    background-color: red;
    margin-left: 25%;
}
tr.comfort-class{

  background-color: green;
}
tr.basic-class{

  background-color: blue;
}
table{
  text-align: center;
}
td{
  border: 1px solid white;
  width: 30px;
  height: 30px;
}
.checkout{
  margin-top: 15%;
  margin-left: 25%;
  height: 1000px;
  width: 500px;
  font-size: 30px;
  border: 1px solid red;

}


.card {
  background: blue;
  backdrop-filter: blur(0.8rem);
  padding: 1.5rem;
  border-radius: 1rem;
}

.card__row {
  display: flex;
  justify-content: space-between;
  padding-bottom: 2rem;
}

.card__title {
  font-weight: 600;
  font-size: 2.5rem;
  color: white;
  margin: 1rem 0;
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
}

.card__col {
  padding-right: 2rem;
}

.card__input {
  background: none;
  border: none;
  font-size: 1.2rem;
  color: #fff;
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
}
.card__input--large {
  font-size: 2rem;
}

.card__input::placeholder {
  color: rgba(255, 255, 255, 0.5);
  text-shadow: none;
}

.card__input:focus {
  outline: none;
  border-color: rgba(255, 255, 255, 0.6);
}

.card__label {
  display: block;
  color: #fff;
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.4);
  font-weight: 400;
}

.card__brand {
  font-size: 3rem;
  color: #fff;
  min-width: 100px;
  min-height: 75px;
  text-align: right;
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.4);
}
.thank-you{
  margin-left: 50px;
  margin-right: 50px;
  font-size: 20px;
  text-decoration: underline;
  color: white;
}
